-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: finetune
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `agreement_templates`
--

DROP TABLE IF EXISTS `agreement_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `agreement_templates` (
  `id` varchar(36) NOT NULL,
  `shop_id` bigint NOT NULL,
  `title` varchar(255) NOT NULL,
  `agreement_text` text NOT NULL,
  `logo_url` varchar(255) DEFAULT NULL,
  `jurisdiction_state` varchar(64) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `agreement_templates_ibfk_1` (`shop_id`),
  CONSTRAINT `agreement_templates_ibfk_1` FOREIGN KEY (`shop_id`) REFERENCES `shop` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agreement_templates`
--

LOCK TABLES `agreement_templates` WRITE;
/*!40000 ALTER TABLE `agreement_templates` DISABLE KEYS */;
/*!40000 ALTER TABLE `agreement_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `boots`
--

DROP TABLE IF EXISTS `boots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `boots` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `brand` varchar(255) NOT NULL,
  `model` varchar(255) NOT NULL,
  `bsl` int NOT NULL,
  `heightInches` int DEFAULT NULL,
  `weight` int DEFAULT NULL,
  `age` int DEFAULT NULL,
  `abilityLevel` varchar(32) DEFAULT NULL,
  `active` tinyint(1) DEFAULT '1',
  `customer_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `customer_id` (`customer_id`),
  CONSTRAINT `boots_ibfk_1` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `boots`
--

LOCK TABLES `boots` WRITE;
/*!40000 ALTER TABLE `boots` DISABLE KEYS */;
INSERT INTO `boots` VALUES (5,'Salomon','SupaPro 130',307,70,150,28,'ADVANCED',1,1),(6,'Lange','x-pro 120',194,62,130,31,'EXPERT',1,3);
/*!40000 ALTER TABLE `boots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_shops`
--

DROP TABLE IF EXISTS `customer_shops`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer_shops` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `customer_id` bigint NOT NULL,
  `shop_id` bigint NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_customer_shop_unique` (`customer_id`,`shop_id`),
  KEY `fk_customer_shop` (`shop_id`),
  CONSTRAINT `fk_customer` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`),
  CONSTRAINT `fk_customer_shop` FOREIGN KEY (`shop_id`) REFERENCES `shop` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_shops`
--

LOCK TABLES `customer_shops` WRITE;
/*!40000 ALTER TABLE `customer_shops` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_shops` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customers` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `firstName` varchar(255) DEFAULT NULL,
  `lastName` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `heightInches` int DEFAULT NULL,
  `weight` int DEFAULT NULL,
  `skiAbilityLevel` varchar(32) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_email_phone` (`email`,`phone`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
INSERT INTO `customers` VALUES (1,'Andy','Reiter','andyreiter5@gmail.com','7608158414',70,150,'ADVANCED'),(2,'john','reiter','johnreiter5@gmail.com','9498360929',0,0,NULL),(3,'Macaela','Wright','macaelawright@gmail.com','6034915853',62,130,'EXPERT');
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipment`
--

DROP TABLE IF EXISTS `equipment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equipment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `shop_id` bigint NOT NULL,
  `customer_id` bigint NOT NULL,
  `brand` varchar(100) DEFAULT NULL,
  `model` varchar(100) DEFAULT NULL,
  `type` varchar(50) DEFAULT NULL,
  `length` int DEFAULT NULL,
  `serviceType` varchar(50) DEFAULT NULL,
  `condition` varchar(50) DEFAULT NULL,
  `bindingBrand` varchar(100) DEFAULT NULL,
  `bindingModel` varchar(100) DEFAULT NULL,
  `heightInches` int DEFAULT NULL,
  `weight` int DEFAULT NULL,
  `age` int DEFAULT NULL,
  `abilityLevel` varchar(50) DEFAULT NULL,
  `boot_id` bigint DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  `last_serviced_date` date DEFAULT NULL,
  `last_service_type` varchar(50) DEFAULT NULL,
  `work_order_id` bigint DEFAULT NULL,
  `last_work_order_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_equipment_shop_id` (`shop_id`),
  KEY `idx_equipment_customer_id` (`customer_id`),
  KEY `idx_equipment_last_work_order_id` (`last_work_order_id`),
  CONSTRAINT `equipment_ibfk_1` FOREIGN KEY (`shop_id`) REFERENCES `shop` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_equipment_customers` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`),
  CONSTRAINT `fk_equipment_last_work_order` FOREIGN KEY (`last_work_order_id`) REFERENCES `work_orders` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipment`
--

LOCK TABLES `equipment` WRITE;
/*!40000 ALTER TABLE `equipment` DISABLE KEYS */;
INSERT INTO `equipment` VALUES (6,1,1,'Dynastar','M-Free 108','SKI',182,'TUNE','NEW','Look','pivot 15',70,150,28,'ADVANCED',5,'PICKED_UP','2026-02-27','TUNE',16,21),(7,1,1,'K2','Mindbender 99C','SKI',0,'MOUNT','NEW','Look','Pivot 15',70,150,28,'ADVANCED',5,'PICKED_UP','2026-02-27','MOUNT',NULL,21),(8,1,3,'Dynastar','M-Free 108','SKI',178,'MOUNT','NEW','Look','Pivot 15',62,130,31,'EXPERT',6,'PENDING',NULL,NULL,NULL,22);
/*!40000 ALTER TABLE `equipment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `locations`
--

DROP TABLE IF EXISTS `locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `locations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `city` varchar(255) DEFAULT NULL,
  `state` varchar(255) DEFAULT NULL,
  `zipCode` varchar(32) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `locations`
--

LOCK TABLES `locations` WRITE;
/*!40000 ALTER TABLE `locations` DISABLE KEYS */;
/*!40000 ALTER TABLE `locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shop`
--

DROP TABLE IF EXISTS `shop`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shop` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `slug` varchar(100) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `logo_url` varchar(2048) DEFAULT NULL COMMENT 'S3 URL for shop logo',
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shop`
--

LOCK TABLES `shop` WRITE;
/*!40000 ALTER TABLE `shop` DISABLE KEYS */;
INSERT INTO `shop` VALUES (1,'7even skis','7even-skis','2026-02-23 17:45:37','https://0d026e06b8fecc50b4560a6d79886861.r2.cloudflarestorage.com/finetune/Shop-Logos/7EVEN-Logo.png'),(2,'Alta','alta','2026-02-26 02:10:37',NULL),(3,'7evenskis','7evenskis','2026-02-26 02:10:37',NULL);
/*!40000 ALTER TABLE `shop` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `signed_agreements`
--

DROP TABLE IF EXISTS `signed_agreements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `signed_agreements` (
  `id` varchar(36) NOT NULL,
  `work_order_id` bigint NOT NULL,
  `customer_id` bigint NOT NULL,
  `agreement_template_id` varchar(36) NOT NULL,
  `pdf_storage_key` varchar(255) NOT NULL,
  `signature_name` varchar(255) NOT NULL,
  `signature_ip` varchar(64) DEFAULT NULL,
  `signature_user_agent` varchar(255) DEFAULT NULL,
  `signed_at` datetime NOT NULL,
  `document_hash` varchar(255) NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `work_order_id` (`work_order_id`),
  KEY `customer_id` (`customer_id`),
  KEY `agreement_template_id` (`agreement_template_id`),
  CONSTRAINT `signed_agreements_ibfk_1` FOREIGN KEY (`work_order_id`) REFERENCES `work_orders` (`id`),
  CONSTRAINT `signed_agreements_ibfk_2` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`),
  CONSTRAINT `signed_agreements_ibfk_3` FOREIGN KEY (`agreement_template_id`) REFERENCES `agreement_templates` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `signed_agreements`
--

LOCK TABLES `signed_agreements` WRITE;
/*!40000 ALTER TABLE `signed_agreements` DISABLE KEYS */;
/*!40000 ALTER TABLE `signed_agreements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ski_brands`
--

DROP TABLE IF EXISTS `ski_brands`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ski_brands` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ski_brands`
--

LOCK TABLES `ski_brands` WRITE;
/*!40000 ALTER TABLE `ski_brands` DISABLE KEYS */;
INSERT INTO `ski_brands` VALUES (16,'4FRNT'),(1,'Armada'),(2,'Atomic'),(13,'Black Crows'),(7,'Blizzard'),(14,'DPS'),(11,'Dynastar'),(10,'Elan'),(15,'Faction'),(5,'Head'),(18,'Icelantic'),(9,'K2'),(20,'Kastle'),(12,'Line'),(19,'Moment'),(8,'Nordica'),(17,'ON3P'),(4,'Rossignol'),(3,'Salomon'),(6,'Volkl');
/*!40000 ALTER TABLE `ski_brands` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ski_models`
--

DROP TABLE IF EXISTS `ski_models`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ski_models` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `brand_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `brand_id` (`brand_id`),
  CONSTRAINT `ski_models_ibfk_1` FOREIGN KEY (`brand_id`) REFERENCES `ski_brands` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=287 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ski_models`
--

LOCK TABLES `ski_models` WRITE;
/*!40000 ALTER TABLE `ski_models` DISABLE KEYS */;
/*!40000 ALTER TABLE `ski_models` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff`
--

DROP TABLE IF EXISTS `staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` varchar(32) DEFAULT 'ROLE_STAFF',
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff`
--

LOCK TABLES `staff` WRITE;
/*!40000 ALTER TABLE `staff` DISABLE KEYS */;
INSERT INTO `staff` VALUES (1,'andyreiter5@gmail.com','$2a$10$HLbTwsQqVUVGj4l.2YN0jugb1UFq1HrfElYZmcB39zFsKoL7XzLmW','ROLE_STAFF','2026-02-23 00:01:40','2026-02-23 00:01:40');
/*!40000 ALTER TABLE `staff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff_shops`
--

DROP TABLE IF EXISTS `staff_shops`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff_shops` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `staff_id` bigint NOT NULL,
  `shop_id` bigint NOT NULL,
  `role` varchar(50) NOT NULL DEFAULT 'tech',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_staff_shop_unique` (`staff_id`,`shop_id`),
  KEY `fk_shop` (`shop_id`),
  CONSTRAINT `fk_shop` FOREIGN KEY (`shop_id`) REFERENCES `shop` (`id`),
  CONSTRAINT `fk_staff` FOREIGN KEY (`staff_id`) REFERENCES `staff` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff_shops`
--

LOCK TABLES `staff_shops` WRITE;
/*!40000 ALTER TABLE `staff_shops` DISABLE KEYS */;
INSERT INTO `staff_shops` VALUES (1,1,1,'admin','2026-02-26 01:54:32');
/*!40000 ALTER TABLE `staff_shops` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `work_order_items`
--

DROP TABLE IF EXISTS `work_order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `work_order_items` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `work_order_id` bigint NOT NULL,
  `equipment_id` bigint DEFAULT NULL,
  `boot_id` bigint DEFAULT NULL,
  `service_type` varchar(50) DEFAULT NULL,
  `condition_before` varchar(50) DEFAULT NULL,
  `condition_after` varchar(50) DEFAULT NULL,
  `technician_notes` text,
  `completed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `work_order_id` (`work_order_id`),
  KEY `equipment_id` (`equipment_id`),
  KEY `boot_id` (`boot_id`),
  CONSTRAINT `work_order_items_ibfk_1` FOREIGN KEY (`work_order_id`) REFERENCES `work_orders` (`id`),
  CONSTRAINT `work_order_items_ibfk_2` FOREIGN KEY (`equipment_id`) REFERENCES `equipment` (`id`),
  CONSTRAINT `work_order_items_ibfk_3` FOREIGN KEY (`boot_id`) REFERENCES `boots` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `work_order_items`
--

LOCK TABLES `work_order_items` WRITE;
/*!40000 ALTER TABLE `work_order_items` DISABLE KEYS */;
INSERT INTO `work_order_items` VALUES (1,16,6,NULL,NULL,NULL,NULL,NULL,NULL),(2,20,6,NULL,NULL,NULL,NULL,NULL,'2026-02-24 18:15:49'),(3,21,6,NULL,NULL,NULL,NULL,NULL,'2026-02-27 14:05:03'),(4,21,7,NULL,NULL,NULL,NULL,NULL,'2026-02-27 14:05:03'),(5,22,8,NULL,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `work_order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `work_orders`
--

DROP TABLE IF EXISTS `work_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `work_orders` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `customer_id` bigint NOT NULL,
  `status` varchar(255) DEFAULT NULL,
  `createdAt` datetime DEFAULT NULL,
  `promised_by` date DEFAULT NULL,
  `completed_date` datetime DEFAULT NULL,
  `customer_created` tinyint(1) DEFAULT '0',
  `notes` text,
  PRIMARY KEY (`id`),
  KEY `customer_id` (`customer_id`),
  CONSTRAINT `work_orders_ibfk_1` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `work_orders`
--

LOCK TABLES `work_orders` WRITE;
/*!40000 ALTER TABLE `work_orders` DISABLE KEYS */;
INSERT INTO `work_orders` VALUES (15,1,'COMPLETED','2026-02-23 12:55:07','2026-02-25','2026-02-23 13:08:04',1,'yaoooooooo'),(16,1,'COMPLETED','2026-02-23 13:40:25','2026-02-26','2026-02-23 13:44:31',0,'WOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO\n\nNEWWWWWWWWWWWWWWWWWWWWWW'),(20,1,'COMPLETED','2026-02-24 18:01:43','2026-02-27','2026-02-24 18:15:49',0,'vbsdffgsevsecvsefcsecsefsefsfs'),(21,1,'COMPLETED','2026-02-27 14:04:40','2026-03-03','2026-02-27 14:05:03',0,'fsefesfsefsefsefsefs'),(22,3,'CUSTOMER_SUBMITTED','2026-02-27 14:22:37',NULL,NULL,1,NULL);
/*!40000 ALTER TABLE `work_orders` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-01 22:09:21
